# Node.js and npm
/node_modules
npm-debug.log
yarn-error.log

# Backend dependencies 
/server/node_modules
/server/client/node_modules
/server/config/dev.js

# Frontend build files
/child1/build

# Environment variables
/child2/.env

.DS_Store